@{
    ViewData["Title"] = "Главная";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh; background-color: #f8f9fa; border-radius: 10px;">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в курсовой проект!</h1>
        <p class="lead mt-3">
            Здесь вы можете создавать опросы, анализировать результаты и делиться ссылками для прохождения.
        </p>
        <a class="btn btn-primary btn-lg mt-4" asp-controller="Account" asp-action="Register">Начать</a>
    </div>
</div>