@{
ViewData["Title"] = "Политика конфиденциальности";
}

<h1 class="text-center">Политика конфиденциальности</h1>


<hr />

<p class="text-center">
    Проект на GitHub:
    <a href="https://github.com/Andrey999r/SurveyPlatform" target="_blank" class="btn btn-outline-primary">
        Перейти на GitHub
    </a>
</p>
