@{
ViewData["Title"] = "Политика конфиденциальности";
}

<h1 class="text-center">Политика конфиденциальности</h1>
<p class="text-center">Это пример страницы политики конфиденциальности для вашего проекта.</p>

<hr />

<p class="text-center">
    Проект на GitHub:
    <a href="https://github.com/ваш_проект" target="_blank" class="btn btn-outline-primary">
        Перейти на GitHub
    </a>
</p>
