<h2>Детали опроса</h2>

<table class="table">
    <thead>
    <tr>
        <th>Вопрос</th>
        <th>Правильный ответ</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var detail in ViewBag.SurveyDetails)
    {
        <tr>
            <td>@detail.Question</td>
            <td>@detail.CorrectAnswer</td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-primary">Назад к списку опросов</a>