@model SurveyPlatform.Models.Survey

@{
    ViewData["Title"] = "Детали опроса";
}

<div class="container mt-5">
    <h2 class="mb-4">Детали опроса</h2>

    <div class="card">
        <div class="card-header">
            <h4>@Model.Title</h4>
        </div>
        <div class="card-body">
            <p>@Model.Description</p>
        </div>
    </div>

    <a asp-controller="Survey" asp-action="Index" class="btn btn-primary mt-3">Назад к списку опросов</a>
</div>